<div id="<%= dom_id user %>">
  <%= image_tag @user.gravatar_url %>
  <%= "Name:  #{user.fname} #{user.lname}" %><br>
  <%= "Email: #{user.email}" if user == current_user %><br>
  <%= "Following: #{@user.following.count}"%>
  <%= "Followers: #{@user.followers.count}"%><br>
  <%= render 'follow_form' unless current_page? user_path(current_user) %><br>
  <%# <%= render 'follow_request_form' %>

  <div>
    <h1>Posts:</h1>
    <% user.posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>
