<p style="color: green"><%= notice %></p>
<%= render 'layouts/header' %>

<%= render @user %>

<div>
  <%= link_to "Show other users", users_path %>
  |
  <%= link_to "Back to Posts", posts_path %>
</div>
