<div id="<%= dom_id post %>" class=post >
  <%= post.content %>
  <div>
    Posted by: <%= User.find(post.user_id).fname %>
    <%= "-" %>
    <%= time_ago_in_words(post.created_at) %> ago.
    Likes: <%= post.likes.count unless post.likes.nil? %>
  </div>
  <div>
    <%= button_to "Show post", post %>
    <%= button_to "Like", post_likes_path(post), method: :post %>
  </div>
</div>
