<div id="<%= dom_id post %>" class=post >
  <%= post.content %>
  <div>
    Posted by: <%= User.find(post.user_id).fname %>
    <%= "-" %>
    <%= time_ago_in_words(post.created_at) %> ago.
  </div>
  <div>
    <%= button_to "Show post", post_path(post), method: :get %>
    <%= @post.likes.count %> Likes

    <% like = current_user.likes.find_by(post: @post) %>
    <% if like.nil? %>
      <%= button_to "Like", likes_path, params: { like: { post_id: @post.id } }, method: :post %>
    <% end %>
  </div>
</div>
