<div id="<%= dom_id post %>" class="post" >
  <p class="content"><%= post.content %></p>
  <div>
    Posted by: <%= User.find(post.user_id).fname %>
    <%= "-" %>
    <%= time_ago_in_words(post.created_at) %> ago.
  </div>
  <div>

    <%= post.likes.count %> Likes -
    <%= post.comments.count %> Comments

    <% like = current_user.likes.find_by(post: post) %>
    <% if like.nil? %>
      <%= button_to "Like", likes_path, params: { like: { post_id: post.id } }, method: :post %>
    <% else %>
     <%= button_to "Unlike", like_path(like), method: :delete %>
    <% end %>

  </div>
  <% if post.user_id == current_user.id && current_page?(post_path(post)) %>
    <div class='postbtns'><br>
      <%= button_to "Edit this post", edit_post_path(post) %>
      <%= button_to "Destroy this post", post, method: :delete %>
    </div>
  <% end %>

  <% unless current_page? post_path(post) %>
    <%= button_to "Show post", post_path(post), method: :get %>
  <% end %>
</div>
