<div id="<%= dom_id post %>">
  <%= post.content %>
  <%= "---" %>
  <%= User.find(post.user_id).fname %>
  <%= "---" %>
  <%= time_ago_in_words(post.created_at) %> ago.
  <p>
    <button>
      <%= link_to "Show post", post %>
    </button>
    <button>
      <%= link_to 'Like', '#' %>
    </button>
  </p>
</div>
