<p style="color: lightgreen"><%= notice %></p>
<%= render 'layouts/header' %>
<%= render @post %>

<div class='comments'>
  <h1>Comments</h1>
  <%= button_to "Add Comment", new_comment_path, method: :get, params: {post_id: @post.id} %>
  <br>
  <% @post.comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
