<header>

<div>
  <%= link_to 'SimpleBook', root_path, id: 'logo' %>
</div>

  <div class='accountnav'>
    <% if logged_in? %>
      <%= "Hello #{current_user.fname}" %>

      <% if current_page? user_path(current_user) %>
        <%= button_to 'Edit Profile', edit_user_registration_path, method: :get %>
      <% else %>
        <%= button_to 'Profile', user_path(current_user), method: :get %>
      <% end %>

      <%= button_to 'See Other Users', users_path, method: :get %>
      <%= button_to 'Logout', destroy_user_session_path, method: :get %>

    <% else %>
      Welcome to SimpleBook! <br>
      Log in or Sign up to continue.


    <% end %>
    <br>
  </div>
</header>
